<div  style="min-height: 230px;">
  <table style="border: none;">
    <thead style="text-align: center;">
      <tr>
        <th style="width: 4em;border-top: none;">#</th>
        <th style="border-top: none;">Team</th>
        <th style="width: 5em;border-top: none">Points</th>
      </tr>
    </thead>
    <tbody style="text-align: center;" id="sc-teams">
      
      <%for (var result in res){%>
        <tr>
        <th style="font-weight:normal;"><%=Number(result)+1%></th>
        <th style="font-weight:normal;"><%=res[result].name%></th>
        <th style="font-weight:normal;"><%=res[result].description%></th>
        </tr>
      <%}%>
    </tbody>
  </table>
</div>
